<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>

    {% load static %}
    <link rel="stylesheet" href='{% static "/css/light.css" %}?{% now "U" %}' />
    <link
      rel="stylesheet"
      href='{% static "/css/Dashboard/admin_log.css" %}?{% now "U" %}'
    />
  </head>
  <body>
    <div class="Admin-panel-login">
      <div class="website-log">Unswerving</div>

      <form method="POST" class="post-form">
        <div class="admin-label">Admin</div>
        {% csrf_token %}
        <li>
          <input type="text" name="username" class="user_log" required />
          <label id="user_log" class="user-lb form-lbcss">Username</label>
        </li>
        <li>
          <input type="password" name="password" class="pass1_log" required />
          <label id="pass1_log" class="pass1-lb form-lbcss">Password</label>
        </li>
        <button type="submit" class="save btn login-btn">Login</button>
        <li>
          <label id="pass1_log" class="pass1-lb form-lbcss"
            ><a href="{% url 'register' %}">signup</a>
          </label>
        </li>
      </form>
    </div>
  </body>
  <script src="{% static '/js/jquery-3.6.0.min.js' %}?{% now 'U' %}"></script>
  {% comment %}
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  {% endcomment %}
  <script src="{% static '/js/admin.js' %}"></script>
</html>
