
.front-head-block {
	position: relative;
    width: 100%;
	height: 70vh !important;
	background: url('/static/img/homeBanner/Cornered-Stairs.svg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
	z-index: var(--index9);
	/* clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0% 80%); */
}


/* .front-head-block::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--primary4);
	opacity: .9;
	z-index: -1;
}  */


.front-head-block .header{
    position: relative;
    padding-top: 10px;
    width: 100%;
    height: fit-content;
}
.front-head-block .header .logo{
	position: relative;
	width: 100px;
	line-height: 50px;
	font-size: var(--font3);
	text-align: center;
	display: inline-block;
	margin: auto 10px !important;
}
.sub-menu-af4-800 > .home-nav-sub-li {
	background-color: var(--primary1);
	color: var(--primary3);
}
.sub-menu-af4-800 > .home-nav-sub-li:hover {
	background-color: var(--primary3);
	color: var(--primary4);
}