<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}Unswerving{% endblock title %}</title>
	{% load static %}

	<link rel="stylesheet" href="{% static '/css/light.css' %}?{% now " U" %}" />
	<link rel="stylesheet" href="{% static '/css/main.css' %}?{% now " U" %}" />
	<link rel="stylesheet" href="{% static '/css/homeHeader.css' %}?{% now " U" %}" />
	<link rel="stylesheet" href="{% static '/css/course.css' %}?{% now " U" %}" />
	<link rel="stylesheet" href="{% static '/css/question.css' %}?{% now " U" %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="icon" href="{% static '/img/logo/favicon.ico' %}" />
</head>

<body>
	{% block header %}{% endblock header %}


	<main>
		{% comment %} home content only for home page {% endcomment %}
		{% block homecontent %}{% endblock homecontent %}

		<section class="just-formargin"></section>
		{% block content %}{% endblock content %}
	</main>
	{% comment %} {% endcomment %}
	<footer>
		<ul>
			<div>
				<span>unswer<li style="color: var(--primary3); display:inline;">ving</li> </span>
				<br>
				<br>

				<ul class="social-icons">
					<a href=# style="display: inline;"><i class="fas fa-envelope"
							style="font-size: 26px;"></i></a>
					<a href=# style="display: inline;"><i
							class="fab fa-facebook"></i></a>
					<a href=# style="display: inline;"><i
							class="fab fa-instagram"></i></a>
					<a href=# style="display: inline;"><i
							class="fab fa-youtube"></i></a>
				</ul>
			</div>
		</ul>
		<ul>
			<div>
				<span>Mcq's</span>
				<br>
				<br>
				<li><a href="/subject/aptitude/"> Aptitude </a></li>
				<li><a href="/subject/reasoning/"> Reasoning</a></li>
				<li><a href="/subject/english/">English</a></li>
			</div>
		</ul>
		<ul>
			<div>
				<span>Company</span>
				<br>
				<br>
				<li style="display: flex;margin-bottom:4px;"><i class="fab fa-whatsapp" style="font-size: 28px;"></i>
					<label style="display: inline; margin:4px 0px 0px 5px;">+91 **********</label></li>

				<li style="display: flex;margin-bottom:4px;"><i class="fab fab fa-telegram"
						style="font-size: 26px;"></i> <label
						style="display: inline; margin:4px 0px 0px 5px;">Unswerving</label></li>

			</div>
		</ul>
		<ul></ul>
	</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}?{% now 'U' %}"></script>

</html>