@import url("./fonts/fontFace.css");

/* @import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap"); */

@font-face {
	src: url("./fonts/Roboto/Roboto-Regular.ttf");
	font-family: Roboto-Regular;
}

@font-face {
	src: url("./fonts/Baloo2-Regular.ttf");
	font-family: Baloo;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	letter-spacing: 0.5px;
	/* transition: all 0.2s linear; */
}
a,
a:active,
a:hover
{
	text-decoration: inherit;
	color:inherit;
	display: block;
	width: 100%;
	/* background: transparent !important; */
}

a:active,a:focus{      
	text-decoration: none !important;
	color:none !important;
    background-color: transparent !important;
}



:root {
	/* color scheme of wesite */
	--primary1: #364049;
	--primary2: #345285;
	--primary3: #ffffff;
	--primary4: #202124;
	--primary5: #2977cfbe;
	--secondry1: #a5618b;
	--secondry2: #2f4264;
	--secondry3: #9ba9c0;
	--secondry4: #b9b9b9;
	--secondry5: #fafafa;
	--secondry6: #eaeaea;

	--danger: crimson;
	--success: #00c851;
	--warning: #ffbb33;
	--info: #2977cfbe;

	--error-mbg: #e7cbcb;
	--success-mbg: #cdf3e4;
	--warning-mbg: #e9e8be;
	--info-mbg: #c3d7f0;
	--error-mfg: #6e151a;
	--success-mfg: #085e2cbb;
	--warning-mfg: #926407;
	--info-mfg: #092f5a;

	/* z-indexes */
	--index1: 1;
	--index2: 2;
	--index-1: -1;
	--index-2: -2;
	--index9: 9;

	/* font related */
	--font0_1: 10px;
	--font0_2: 11px;
	--font0_3: 12px;
	--font1: 14px;
	--font1_1: 15px;
	--font1_2: 16px;
	--font2: 20px;
	--font3: 25px;
	--font4: 27px;
	--fontEXT1: 40px;
	--fontEXT2: 45px;
	--fontEXT3: 50px;
	/* font Familiy */
	--fam1: AveriaSansLibre;
	--fam2: Cagliostro;
	--fam3: Baloo;
	--fam4: Anton-Regular;
	--fam5: FredokaOne-Regular;
	--fam6: Sofia-Pro-Black;
	--fam7: Roboto-Regular;

	/* transition type */
	--transL: all 0.2s linear;
	--transE: all 0.2s ease;
	--transEIO: all 0.2s ease-in-out;
	--transL-4: all 0.35s linear;
	--transE-4: all 0.35s ease;
	--transEIO-4: all 0.35s ease-in-out;
	--transEIO-5: all 0.5s ease-in-out;
	--transEIO-8: all 0.8s ease-in-out;
}
@media (prefers-color-scheme: dark) {
	html {
		--primary1: #364049;
		--primary2: #345285;
		--primary3: #202124;
		--primary4: #ffffff;
		--primary5: #2977cfbe;
		--secondry1: #a5618b;
		--secondry2: #2f4264;
		--secondry3: #9ba9c0;
		--secondry4: #b9b9b9;
		--secondry5: #fafafa;
		--secondry6: #eaeaea;
	}
}
/* highlight for current subject in course sec and topic in subject sec */
.highlite-crs-subj-topic{
	color:var(--info)!important; font-weight:600;
}

::-moz-selection {
	/* Code for Firefox */
	color: var(--primary3);
	background: var(--warning);
}

::selection {
	color: var(--primary3);
	background: var(--warning);
}
.scroller::-webkit-scrollbar {
	width: 5px;
	height: 4px;
}

/* Track */

.scroller::-webkit-scrollbar-track {
	display: none;
}

/* Handle */

.scroller::-webkit-scrollbar-thumb {
	transition: all 0.4s linear;
	border-radius: 4px;
	background: var(--primary1);
}

/* Handle on hover */

.scroller::-webkit-scrollbar-thumb:hover {
	background: var(--primary4) !important;
	/* background: rgba(0, 0, 0, 0.2); */
	/* opacity: 0.8; */
}

.btn {
	width: auto;
	height: auto;
	color: var(--secondry4);
	background-color: var(--primary1);
	transition: var(--transEIO);
}
.btn:hover {
	color: var(--primary3);
	cursor: pointer;
	box-shadow: 0.1 0.1 8px var(--secondry3);
}
input {
	font-family: var(--fam6);
	font-weight: 500;
	letter-spacing: 1px;
}
input:focus {
	outline: none;
}
hr {
	/* display: inline !important; */
	width: 90%;
	height: 1.5px;
	margin: 10px auto;
	background-color: var(--secondry4);
}
label {
	display: block;
	cursor: pointer;
}

/* colors classes */
.primary-col1 {
	color: var(--primary1);
}
.primary-col2 {
	color: var(--primary2);
}
.primary-col3 {
	color: var(--primary3);
}
.secondry-col1 {
	color: var(--secondry1);
}
.secondry-col2 {
	color: var(--secondry2);
}

/* text classes */
.txt-center {
	text-align: center;
}
.txt-start {
	text-align: start;
}
.txt-end {
	text-align: end;
}

/* margin classes */
.mrgn-auto {
	margin: auto;
}

/* displays */
.dis-inln {
	display: inline;
}
.dis-inln {
	display: inline;
}
.dis-inln {
	display: inline;
}
